<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ajout d'un véhicule !</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>

<body>
<form method="get" action="addVehicle">
    <h1>Formulaire de mise en location d'un véhicule</h1>
    <label>Marque :</label><input type="text" id="brand" name="brand"/><Br/>
    <label>Modèle :</label><input type="text" id="model" name="model"/><br/>
    <label>Motorisation :</label><input type="text" id="motorization" name="motorization"/><br/>
    <label>Année :</label><input type="text" id="year" name="year"/><br/>
    <label>Puissance :</label><input type="text" id="power" name="power"/><br/>
    <label>Nombre de place :</label><input type="text" id="placeNumber" name="placeNumber"/><br/>
    <label>Volume du coffre :</label><input type="text" id="trunkVolume" name="trunkVolume"/><br/>
    <br/>
    <input type='submit' name="Louer !" class="btn btn-dark"/>
</form>
<hr/>

</body>
</html>