<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ajout d'un véhicule !</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../styles/location.css"/>
    <link rel="stylesheet" href="../../styles/general.css"/>
    <link rel="shortcut icon" type="image/png" href="../../images/t.png"/>
</head>
<script>
    function formBicycle(checkbox) {
        document.getElementById('rentFormBicycle').style.display = "block";
        document.getElementById('rentFormCar').style.display = "none";
        document.getElementById('rentFormTrailer').style.display = "none";

    }

    function formCar(checkbox) {
        document.getElementById('rentFormBicycle').style.display = "none";
        document.getElementById('rentFormCar').style.display = "block";
        document.getElementById('rentFormTrailer').style.display = "none";
    }

    function formTrailer(checkbox) {
        document.getElementById('rentFormBicycle').style.display = "none";
        document.getElementById('rentFormCar').style.display = "none";
        document.getElementById('rentFormTrailer').style.display = "block";
    }
</script>

<body>
<div id="main">
    <div id="header" class="jumbotron text-center" style="margin-bottom:0">
        <a href="/"> <img id="banner" class="img-fluid" src="../../images/testBanner3.png" alt="takarLogo" width="1920"
                          height="200"/></a>
    </div>

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
        <div>
            <a href="../vehicle/search" class="btn btn-dark">Rechercher</a>
            <a href="" class="btn btn-dark">Louer</a>
            <a href="../contact.html" class="btn btn-dark">Contacter</a>

            <button type="button" class="invisibleButton btn btn-dark"></button>
            <button type="button" class="invisibleButton btn btn-dark"></button>

            <div id="zoneConnect"></div>
        </div>
    </nav>
    <div id="vehicleCheckChoiceDiv">
        <tr>
            <div class="inputFiltreDiv" id="divFiltreMoto">
                <input type="radio" name="rentFormCheck" id="velo" value="velo" onclick="formBicycle()"/>
                <label for="velo"><span class="inputLabel">VÉLO</span></label>
            </div>
            <div class="inputFiltreDiv" id="divFiltreVoiture">
                <input type="radio" name="rentFormCheck" id="voiture" value="voiture" onclick="formCar()"/>
                <label for="voiture"><span class="inputLabel">VOITURE</span></label>
            </div>
            <div class="inputFiltreDiv" id="divFiltreRemorque">
                <input type="radio" name="rentFormCheck" id="remorque" value="remorque" onclick="formTrailer()"/>
                <label for="remorque"><span class="inputLabel"> REMORQUE</span></label>
            </div>
        </tr>
    </div>
    <hr id="sepaFormChoiceVehicule"></hr>
    <!--
    FORMULAIRE MOTO
    /!-->
    <div id="contentRent">
        <form id="rentFormBicycle" method="get" action="rent" class="rentForm" style="display: none">
            <h1>Formulaire de mise en location d'un vélo</h1>
            <table class="tableFormRent">
                <tr>
                    <td>
                        <label>Marque :</label>
                    </td>
                    <td>
                        <input type="text" id="brand" name="brand"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Modèle :</label>
                    </td>
                    <td>
                        <input type="text" id="model" name="model"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Type :</label>
                    </td>
                    <td>
                        <input type="text" id="type" name="type"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Taille :</label>
                    </td>
                    <td>
                        <input type="text" id="size" name="size"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Prix :</label>
                    </td>
                    <td>
                        <input type="number" min="0" id="price" name="price"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Description</label>
                    </td>
                    <td>
                        <input type="text" id="description" name="description"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Info Pour le client :</label>
                    </td>
                    <td>
                        <input type="text" id="infoForClient" name="infoForClient"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Est un vélo électrique :</label>
                    </td>
                    <td>
                        <input type="checkbox" id="isElectrical" name="isElectrical"/><br/>
                    </td>
                </tr>
            </table>
            <div class="buttonsFormRent">
                <input type='submit' class="btn btn-lg btn-default" name="envoyer"/>
                <button type='button' name="annuler" class="invisibleButton btn btn-lg btn-default">Annuler</button>
                <button type='button' name="annuler" class="btn btn-lg btn-default"
                        onclick="window.location.href = '/';">
                    Annuler
                </button>
            </div>
        </form>
        <!--
        FORMULAIRE VOITURE
        /!-->
        <form id="rentFormCar" method="get" action="rent" class="rentForm" style="display: none">
            <h1>Formulaire de mise en location d'une voiture</h1>
            <table class="tableFormRent">
                <tr>
                    <td>
                        <label>Marque :</label>
                    </td>
                    <td>
                        <input type="text" id="brand" name="brand"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Modèle :</label>
                    </td>
                    <td>
                        <input type="text" id="model" name="model"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Motorisation :</label>
                    </td>
                    <td>
                        <input type="text" id="motorization" name="motorization"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Année :</label>
                    </td>
                    <td>
                        <input type="text" id="year" name="year"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Puissance :</label>
                    </td>
                    <td>
                        <input type="text" id="power" name="power"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Nombre de place :</label>
                    </td>
                    <td>
                        <input type="text" id="placeNumber" name="placeNumber"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Volume du coffre :</label>
                    </td>
                    <td>
                        <input type="text" id="trunkVolume" name="trunkVolume"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Prix :</label>
                    </td>
                    <td>
                        <input type="text" class="price" name="price"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Plaque d'immatriculation :</label>
                    </td>
                    <td>
                        <input type="text" id="licensePlate" name="licensePlate"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Description</label>
                    </td>
                    <td>
                        <input type="text" id="description" name="description"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Info Pour le client :</label>
                    </td>
                    <td>
                        <input type="text" id="infoForClient" name="infoForClient"/><br/>
                    </td>
                </tr>
            </table>

            <div class="buttonsFormRent">
                <input type='submit' class="btn btn-lg btn-default" name="envoyer"/>
                <button type='button' name="annuler" class="invisibleButton btn btn-lg btn-default">Annuler</button>
                <button type='button' name="annuler" class="btn btn-lg btn-default"
                        onclick="window.location.href = '/';">
                    Annuler
                </button>
            </div>
        </form>
        <!-- FORMULAIRE REMORQUE
        !-->
        <form id="rentFormTrailer" method="get" action="rent" class="rentForm" style="display: none">
            <h1>Formulaire de mise en location d'une remorque</h1>
            <table class="tableFormRent">
                <tr>
                    <td>
                        <label>Marque :</label>
                    </td>
                    <td>
                        <input type="text" id="brand" name="brand"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Modèle :</label>
                    </td>
                    <td>
                        <input type="text" id="model" name="model"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Capacité :</label>
                    </td>
                    <td>
                        <input type="text" id="capacity" name="capacity"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Poids :</label>
                    </td>
                    <td>
                        <input type="text" id="weight" name="weight"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Longueur :</label>
                    </td>
                    <td>
                        <input type="number" min="0" id="length" name="length"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Prix :</label>
                    </td>
                    <td>
                        <input type="number" min="0" id="price" name="price"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Plaque d'immatriculation :</label>
                    </td>
                    <td>
                        <input type="text" id="licensePlate" name="licensePlate"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Description</label>
                    </td>
                    <td>
                        <input type="text" id="description" name="description"/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Info Pour le client :</label>
                    </td>
                    <td>
                        <input type="text" id="infoForClient" name="infoForClient"/><br/>
                    </td>
                </tr>
            </table>
            <div class="buttonsFormRent">
                <input type='submit' class="btn btn-lg btn-default" name="envoyer"/>
                <button type='button' name="annuler" class="invisibleButton btn btn-lg btn-default">Annuler</button>
                <button type='button' name="annuler" class="btn btn-lg btn-default"
                        onclick="window.location.href = '/';">
                    Annuler
                </button>
            </div>
        </form>
    </div>

</div>
<div id="footer" class="text-center">
    <p>Tous droits réservés - © Takar 2020/2021 </p>
</div>
</body>

<script>

    console.log(document.cookie.indexOf("USERCONNECT"));

    if (document.cookie.indexOf("USERCONNECT") == -1) {
        //pas connecté
        document.getElementById("zoneConnect").innerHTML = '<a id="btnConnexion" href="authentication/connexion" class="btn btn-dark">Connexion</a>' + '<a id="btnInscr" href="authentication/registration" class="btn btn-dark">Inscription</a>';

    } else {
        //connecté
        document.getElementById("zoneConnect").innerHTML = '<a id="btnDeco" href="/logout" class="btn btn-dark">Déconnexion</a>';
    }
</script>

</html>