<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ajout d'un véhicule !</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../styles/location.css"/>
    <link rel="stylesheet" href="../../styles/general.css"/>
    <link rel="shortcut icon" type="image/png" href="../../images/t.png"/>
</head>
<script>
    if(sessionStorage.getItem("isConnect") != "true") {
        document.location.href="/authentication/connexion";
    }

</script>
<body>
<div id="header" class="jumbotron text-center" style="margin-bottom:0">
    <a href="/"> <img id="banner" class="img-fluid" src="../../images/testBanner3.png" alt="takarLogo" width="1920"
                      height="200"/></a>
</div>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
    <div>
        <a href="../vehicle/search" class="btn btn-dark">Rechercher</a>
        <a href="" class="btn btn-dark">Louer</a>
        <a href="../contact.html" class="btn btn-dark">Contacter</a>

        <button id="invisibleButton1" type="button" class="btn btn-dark"></button>
        <button id="invisibleButton2" type="button" class="btn btn-dark"></button>

        <a href="../authentication/connexion" class="btn btn-dark">Connexion</a>
        <a href="../authentication/registration" class="btn btn-dark">Inscription</a>
    </div>
</nav>

<div id="contentRent">
    <form method="get" action="addVehicle" id="rentForm">
        <h1>Formulaire de mise en location d'un véhicule</h1>
        <table id="tableFormRent">
            <tr>
                <td>
                    <label>Marque :</label>
                </td>
                <td>
                    <input type="text" id="brand" name="brand"/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Modèle :</label>
                </td>
                <td>
                    <input type="text" id="model" name="model"/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Motorisation :</label>
                </td>
                <td>
                    <input type="text" id="motorization" name="motorization"/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Année :</label>
                </td>
                <td>
                    <input type="text" id="year" name="year"/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Puissance :</label>
                </td>
                <td>
                    <input type="text" id="power" name="power"/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Nombre de place :</label>
                </td>
                <td>
                    <input type="text" id="placeNumber" name="placeNumber"/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Volume du coffre :</label>
                </td>
                <td>
                    <input type="text" id="trunkVolume" name="trunkVolume"/><br/>
                </td>
            </tr>
        </table>
        <div id="buttonsFormRent">
            <input type='submit' class="btn btn-lg btn-default" name="envoyer"/>
            <button id="invisibleButton3" type='button' name="annuler" class="btn btn-lg btn-default">Annuler</button>
            <button type='button' name="annuler" class="btn btn-lg btn-default" onclick="window.location.href = '/';">
                Annuler
            </button>
        </div>
    </form>
</div>
<div id="footer" class="jumbotron text-center" style="margin-bottom:0">
    <p>Tous droits réservés - © Takar 2020/2021 </p>
</div>

</body>
</html>