<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Recherche de Vehicule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../styles/car.css"/>
    <link rel="stylesheet" href="../../styles/templateVehicule.css"/>
    <link rel="stylesheet" href="../../styles/general.css"/>
    <link rel="shortcut icon" type="image/png" href="../../images/t.png"/>
</head>
<body>
<div id="main">
    <div id="header" class="jumbotron text-center" style="margin-bottom:0">
        <a href="/"> <img id="banner" class="img-fluid" src="../../images/testBanner3.png" alt="takarLogo" width="1920"
                          height="200"/></a>
    </div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
        <div>
            <a href="../vehicle/search" class="btn btn-dark">Rechercher</a>
            <a href="../vehicle/rent" class="btn btn-dark">Louer</a>
            <a href="../contact.html" class="btn btn-dark">Contacter</a>

            <button id="invisibleButton1" type="button" class="btn btn-dark"></button>
            <button id="invisibleButton2" type="button" class="btn btn-dark"></button>

            <a href="../authentication/connexion" class="btn btn-dark">Connexion</a>
            <a href="../authentication/registration" class="btn btn-dark">Inscription</a>
            <a href="../logout" class="btn btn-dark">Déconnexion</a>
        </div>
    </nav>
    <div id="contentSearch">
        <table id="tableSearch">
            <thead>
            <tr>
                <th th:text="Modèle" class="modelField">Modele>Modele</th>
                <th th:text="Marque" class="marqueField">Brand</th>
                <th th:text="Description" class="descriptionFiled">Description</th>
                <th th:text="Note">note</th>
                <th th:text="Prix">price</th>
                <th th:text="Année">year</th>
                <th >Type de Moteur</th>
                <th th:text="Puissance">power</th>
                <th >Nombre de places</th>
                <th >Volume du coffre</th>
                <th >Plaque d'immatriculation</th>
            </tr>
            </thead>

            <tbody>
            <tr class="resultatSearchline">
                <td th:text="${vehicle.model}" class="modelField"></td>
                <td th:text="${vehicle.brand}" class="marqueField"></td>
                <td th:text="${vehicle.description}" class="descriptionFiled"></td>
                <td th:text="${vehicle.note}"></td>
                <td th:text="${vehicle.price}"></td>
                <td th:text="${car.year}"></td>
                <td th:text="${car.motorization}"></td>
                <td th:text="${car.power}"></td>
                <td th:text="${car.getPlaceNumber()}"></td>
                <td th:text="${car.trunkVolume}"></td>
                <td th:text="${car.licensePlate}"></td>


            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="footer" class="text-center" style="margin-bottom:0">
    <p>Tous droits réservés - © Takar 2020/2021 </p>
</div>
</body>
</html>