<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Recherche de Vehicule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../styles/car.css"/>
    <link rel="stylesheet" href="../../styles/templateVehicule.css"/>
    <link rel="stylesheet" href="../../styles/general.css"/>
    <link rel="shortcut icon" type="image/png" href="../../images/t.png"/>
</head>
<body>
<div id="main">
    <div id="header" class="jumbotron text-center" style="margin-bottom:0">
        <a href="/"> <img id="banner" class="img-fluid" src="../../images/testBanner3.png" alt="takarLogo" width="1920"
                          height="200"/></a>
    </div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
        <div>
            <a href="../vehicle/search" class="btn btn-dark">Rechercher</a>
            <a href="../vehicle/rent" class="btn btn-dark">Louer</a>
            <a href="../contact.html" class="btn btn-dark">Contacter</a>

            <button id="invisibleButton1" type="button" class="btn btn-dark"></button>
            <button id="invisibleButton2" type="button" class="btn btn-dark"></button>

            <div id="zoneConnect"></div>
        </div>
    </nav>
    <div id="TitleDetails"><h1>Fiche Descriptive</h1></div>
    <div id="contentSearch">
        <table id="tableSearch">
            <tr id="model" class="ligneSearchRes">
                <td class="modelField carFieldLabel">Modele :</td>
                <td th:text="${vehicle.model}" class="modelField carFieldData"></td>
            </tr>
            <tr id="marque" class="ligneSearchRes">
                <td class="marqueField carFieldLabel">Marque :</td>
                <td th:text="${vehicle.brand}" class="marqueField carFieldData"></td>
            </tr>

            <tr id="note" class="ligneSearchRes">
                <td class="carFieldLabel">Note :</td>
                <td class="carFieldData" th:text="${vehicle.note}"></td>
            </tr>
            <tr id="price" class="ligneSearchRes">
                <td class="carFieldLabel">Prix :</td>
                <td class="carFieldData" th:text="${vehicle.price}"></td>
            </tr>
            <tr id="year" class="ligneSearchRes">
                <td class="carFieldLabel">Année :</td>
                <td class="carFieldData" th:text="${car.year}"></td>
            </tr>
            <tr id="motor" class="ligneSearchRes">
                <td class="carFieldLabel">Type de Moteur :</td>
                <td class="carFieldData" th:text="${car.motorization}"></td>
            </tr>
            <tr id="power" class="ligneSearchRes">
                <td class="carFieldLabel">Puissance :</td>
                <td class="carFieldData" th:text="${car.power}"></td>
            </tr>
            <tr id="places" class="ligneSearchRes">
                <td class="carFieldLabel">Nombre de places :</td>
                <td class="carFieldData" th:text="${car.getPlaceNumber()}"></td>
            </tr>
            <tr id="coffre" class="ligneSearchRes">
                <td class="carFieldLabel">Volume du coffre :</td>
                <td class="carFieldData" th:text="${car.trunkVolume}"></td>
            </tr>
            <tr id="imma" class="ligneSearchRes">
                <td class="carFieldLabel">Plaque d'immatriculation :</td>
                <td class="carFieldData" th:text="${car.licensePlate}"></td>
            </tr>
            <tr id="description" class="ligneSearchRes">
                <td class="descriptionFiled carFieldLabel">Description :</td>
                <td th:text="${vehicle.description}" class="descriptionFiled carFieldData"></td>
            </tr>

            <tbody>
            <tr class="resultatSearchline">

            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="footer" class="text-center" style="margin-bottom:0">
    <p>Tous droits réservés - © Takar 2020/2021 </p>
</div>
</body>

<script>

    console.log(document.cookie.indexOf("USERCONNECT"));

    if (document.cookie.indexOf("USERCONNECT") == -1) {
        //pas connecté
        document.getElementById("zoneConnect").innerHTML = '<a id="btnConnexion" href="authentication/connexion" class="btn btn-dark">Connexion</a>' + '<a id="btnInscr" href="authentication/registration" class="btn btn-dark">Inscription</a>';

    } else {
        //connecté
        document.getElementById("zoneConnect").innerHTML = '<a id="btnDeco" href="/logout" class="btn btn-dark">Déconnexion</a>';
    }
</script>

</html>