<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../styles/inscription.css"/>
    <link rel="stylesheet" href="../../styles/general.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
</head>
<body>

<form method="get" action="registration">
    <h1>Ajout d'un nouvel utilisateur</h1>
    <label>Nom :</label><input type="text" id="name" name="name"/><br/>
    <label>Prénom :</label><input type="text" id="lastame" name="lastname"/><br/>
    <label>Mot de passe :</label><input type="password" id="password" name="password"/><br/>
<!--    <label>Anniversaire :</label><input type="date" id="anniversaire" name="anniversaire"/><br/>-->
    <label>Sexe :</label><input type="text" id="sexe" name="sexe"/><br/>

    <label>Mail :</label><input type="text" id="mail" name="mail"/><br/>
    <label>Téléphone :</label><input type="text" id="telephone" name="telephone"/><br/>
    <label>Adresse :</label><input type="text" id="adresse" name="adresse"/><br/>
    <label>Ville :</label><input type="text" id="ville" name="ville"/><br/>
    <label>Département :</label><input type="text" id="departement" name="departement"/><br/>
    <label>Code postal :</label><input type="text" id="cp" name="cp"/><br/>
    <label>Pays :</label><input type="text" id="pays" name="pays"/><br/>

    <br/>
    <input type='submit' name="envoyer"/>
</form>

<hr/>
<a href="/" >Retour à l'accueil</a><br/>
</body>
</html>