<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Recherche de Vehicule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/png" href="../../images/t.png"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th th:text="Modèle">Modele</th>
        <th th:text="Marque">Brand</th>
        <th th:text="Description">Description</th>
        <th th:text="Note">note</th>
        <th th:text="Prix">price</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="prod: ${vehicle}">
        <td th:text="${prod.model}"></td>
        <td th:text="${prod.brand}"></td>
        <td th:text="${prod.description}"></td>
        <td th:text="$prod.note}"></td>
        <td th:text="${prod.price}"></td>
    </tr>
    </tbody>
</table>
<hr/>
<a href="/">Retour à l'accueil</a><br/>
</body>
</html>