<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Ajout d'un utilisateur</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/user.css">
    <link rel="stylesheet" href="../static/styles/general.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>



<body>
<div id="header" class="jumbotron text-center" style="margin-bottom:0">
    <img class="img-fluid" alt="Responsive image" src="../static/images/testBanner3.png" alt="takarLogo" width="1920"
         height="200">
</div>


<nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
    <div>
        <button type="button" class="btn btn-dark">Rechercher</button>
        <button type="button" class="btn btn-dark">Louer</button>
        <button type="button" class="btn btn-dark">Contacter</button>

        <button id="invisibleButton1" type="button" class="btn btn-dark"></button>
        <button id="invisibleButton2" type="button" class="btn btn-dark"></button>

        <a href="authentication/connexion" class="btn btn-dark">Connexion</a>
        <a href="authentication/registration" class="btn btn-dark">Inscription</a>
    </div>
</nav>
    <div id="contentUsr">
	<form method="get" action="adduser" id="formUser">
		<h1 id="titlePage">Connexion à votre compte TAKAR</h1>
		<label>Username :</label><input id="usrLabel" type="text"  class="label label-default" id="username" name="username"/><Br/>
		<label>Password :</label><input id="PwdLabel" type="text"  class="label label-default" id="password" name="password"/><br/>
		<br/>
		<input type='submit' name="envoyer" class="btn btn-lg btn-default"/>
	</form>

<hr/>
    </div>

<table>
  <thead>
    <tr>
      <th th:text="Username">Username</th>
      <th th:text="Password">Password</th>
    </tr>
  </thead>

  <tbody>
    <tr th:each="prod: ${users}">
      <td th:text="${prod.username}">username</td>
      <td th:text="${prod.password}">password</td>
    </tr>
  </tbody>
</table>
<hr/>
<a href="/" >Retour à l'accueil</a><br/>
  </body>
</html>
