<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Ajout d'un utilisateur</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form method="get" action="adduser">
		<h1>Saisie d'un utilisateur</h1>
		<label>Prénom :</label><input type="text" id="firstname" name="firstname"/><Br/>
		<label>Nom :</label><input type="text" id="lastname" name="lastname"/><br/>
		<br/>
		<input type='submit' name="envoyer"/>
	</form>

<hr/>

<table>
  <thead>
    <tr>
      <th th:text="Prénom">Prénom</th>
      <th th:text="Nom">Nom</th>
    </tr>
  </thead>

  <tbody>
    <tr th:each="prod: ${users}">
      <td th:text="${prod.prenom}">prénom</td>
      <td th:text="${prod.nom}">nom</td>
    </tr>
  </tbody>
</table>
<hr/>
<a href="/" >Retour à l'accueil</a><br/>
  </body>
</html>
