<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajout d'un utilisateur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../styles/user.css"/>
    <link rel="stylesheet" href="../../styles/general.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <!--<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">-->
</head>



<body>
<div id="header" class="jumbotron text-center" style="margin-bottom:0">
    <a href="/"><img id="banner" class="img-fluid" src="../../images/testBanner3.png" alt="takarLogo" width="1920"
         height="200"/></a>
</div>


<nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
    <div>
        <a href="../vehicle/search" class="btn btn-dark">Rechercher</a>
        <a href="../vehicle/rent" class="btn btn-dark">Louer</a>
        <a href="../contact.html" class="btn btn-dark">Contacter</a>

        <button id="invisibleButton1" type="button" class="btn btn-dark"></button>
        <button id="invisibleButton2" type="button" class="btn btn-dark"></button>

        <a href="" class="btn btn-dark">Connexion</a>
        <a href="./registration" class="btn btn-dark">Inscription</a>
    </div>
</nav>
    <div id="contentUsr">
	<form method="get" action="adduser" id="formUser">
		<h1 id="titlePage">Connexion à votre compte TAKAR</h1>

		<label>Identifiant :</label><input type="text"  class="label label-default" id="username" name="username"/><Br/>
		<label>Mot de Passe :</label><input type="text"  class="label label-default" id="password" name="password"/><br/>
		<br/>
		<input type='submit' name="envoyer" class="btn btn-lg btn-default"/>
        <button id="invisibleButton1" type='button' name="annuler" class="btn btn-lg btn-default">Annuler</button>
        <button type='button' name="annuler" class="btn btn-lg btn-default" onclick="window.location.href = '/';">Annuler</button>
	</form>
    </div>
<div id="footer" class="jumbotron text-center" style="margin-bottom:0">
    <p>Tous droits réservés - © Takar 2020/2021 </p>
</div>
  </body>
</html>
