contentSearch.tableSearch.tr:first-child{
    font-family: "Fjalla One";
}

td.marqueField.bikeFieldLabel {
    font-size: x-large;
}

td.modelField.bikeFieldLabel {
    font-size: xx-large;
}

td.bikeFieldLabel {
    font-family: 'Fjalla One';
    text-align: right;
}

table#tableSearch {
    font-size: 20px;
}

td.modelField.bikeFieldData {
    font-size: xx-large !important;
    text-transform: uppercase;
}

.bikeFieldData {
    /* margin-left: 1.5em !important; */
    padding-left: 20px;
}

td.marqueField.bikeFieldData {
    font-size: x-large !important;
    text-transform: uppercase;
}



td.descriptionFiled.carFieldData {
    font-size: 16px;
}

td.modelField.carFieldData {
    font-size: xx-large;
    text-transform: uppercase;
}