@font-face {
    font-family: 'Noto Sans';
    src: URL('../fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    src: URL('../fonts/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans Italic';
    src: URL('../fonts/NotoSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans BoldItalic';
    src: URL('../fonts/NotoSans-BoldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'Fjalla One';
    src: URL('../fonts/FjallaOne-Regular.ttf') format('truetype');
}


body {
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
}

h2 {
    padding-top: 0.5em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

#invisibleButton1, #invisibleButton2, #invisibleButton3 {
    opacity: 0 !important;
}

.invisibleButton{
    opacity: 0 !important;
}

#footer {
    margin-bottom: 0;
    background-color: black;
    color: white;
}

#header {
    padding: 0;
}

.navbar {
    background-color: black !important;
}

.navbar button {
    background: black;
    border: none
}

.navbar a {
    background: black;
    border: none;
}

#invisibleButton1:hover {
    cursor: default;
}

#invisibleButton2:hover {
    cursor: default;
}

#banner:hover {
    cursor: pointer;
}

.Justifier {
    text-align: justify;
}

div#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


div#header {
    background-color: #282828;
}
