body {
    font-family: 'Noto Sans', sans-serif;
}

#invisibleButton1, #invisibleButton2 {
    opacity: 0 !important;
}

#header {
    padding: 0;
}

.navbar {
    background-color: black !important;
}

.navbar button {
    background: black;
    border: none
}

.navbar a {
    background: black;
    border: none;
}

#invisibleButton1:hover {
    cursor: default;
}

#invisibleButton2:hover {
    cursor: default;
}

td.caseRS {
    width: 50px;
    text-align: center;
}

td.caseRS a img:hover {
    cursor: pointer;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

a.nav-link.lienVehicule {
    color: black;
}

a.nav-link.lienVehicule:hover {
    color: rgba(123, 31, 31, 1);
    cursor: pointer;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    font-weight: bolder;
    padding-left:15%;
}

.titreIndex {
    display: inline;
    padding-right: 0px;
}

.btnIndex {
    display: inline;
    margin-right: auto;
    text-align: right;
    width: 150px;
}


 .btnIndex {
    background: black;
    color: white;
    -webkit-box-shadow: 4px 4px 2px -1px rgba(123, 31, 31, 1), -4px -4px 2px -1px rgba(32, 67, 98, 1);
    -moz-box-shadow: 4px 4px 2px -1px rgba(123, 31, 31, 1), -4px -4px 2px -1px rgba(32, 67, 98, 1);
    box-shadow: 4px 4px 2px -1px rgba(123, 31, 31, 1), -4px -4px 2px -1px rgba(32, 67, 98, 1);
}

.btnIndex:hover {
    background: white;
    color: black;
    -webkit-box-shadow: -4px -4px 2px -1px rgba(123, 31, 31, 1), 4px 4px 2px -1px rgba(32, 67, 98, 1);
    -moz-box-shadow: -4px -4px 2px -1px rgba(123, 31, 31, 1), 4px 4px 2px -1px rgba(32, 67, 98, 1);
    box-shadow: -4px -4px 2px -1px rgba(123, 31, 31, 1), 4px 4px 2px -1px rgba(32, 67, 98, 1);
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

td.cellBoutonVoiture {
    /* width: 50%; */
    width: 20%;
    text-align: right;
}

td.cellNomVoiture {
    width: 80%;
}

table.tabVoiture {
    width: 90%;
}
