body {
    font-family: 'Noto Sans', sans-serif;
}

#invisibleButton1, #invisibleButton2 {
    opacity: 0 !important;
}

#header {
    padding: 0;
}

.navbar {
    background-color: black !important;
}

.navbar button {
    background: black;
    border: none
}

.navbar a {
    background: black;
    border: none;
}

#invisibleButton1:hover {
    cursor: default;
}

#invisibleButton2:hover {
    cursor: default;
}

td.caseRS {
    width: 50px;
    text-align: center;
}

td.caseRS a img:hover {
    cursor: pointer;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

