
#invisibleButton{
    opacity: 0 !important;
}

#footer{
    margin-bottom: 0;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    background-color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
    color:white;
}

#header {
    padding: 0;
}

.navbar{
    background-color: black!important;
}

.navbar button{
    background: black;
    border:none
}

.navbar a{
    background: black;
    border:none;
}