th.marqueField {
    width: 200px;
}

th.modelField {
    width: 200px;
}

tr.resultatSearchline td {
    border-style: dotted;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

th.descriptionFiled {
    width: 500px;
    max-width: 500px;
    /* text-align: justify; */
}

td.descriptionFiled {
    text-align: justify;
    padding-left: 1em;
}